
@font-face {
    font-family:PGR;
    src: url(PGR.ttf);
}
header{font-family: PGR, "Arial Black";}

main section div {
    float: left;
    width: 24%;
}

main section div img {
    width: 80%;
}
main section {
        width: 100%;
}

footer ul li {
    text-align: center;
    width: 30%;
    display: inline;
}
nav ul li {
    display: inline;
    text-align: left;
    font-size: 17pt;
    border: 1px solid gray;
    padding: 2px 20px 2px 20px;
    margin: 2px;
}

nav ul li:hover {background: ghostwhite}

nav{text-align: center}

div:hover img {
    border: lightgrey double 1px;
}
#menu_item{
    display: block;
    margin: 100px 100px 100px 100px;


}